<div class="loginBox">
  <div class="loginHead">
    <%= image_tag 'logo.png', alt: 'NTQ Solution Admin Control Panel', title: 'NTQ Solution Admin Control Panel' %>
  </div>

  <%= form_tag sessions_path, method: :post, class: 'form-horizontal' do %>
    <div class="control-group">
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, class: 'form-control', required: true %>
    </div>

    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'form-control', required: true %>
    </div>

    <div class="control-group">
      <%= check_box_tag :remember_me, class: 'remember_me_checkbox' %>
      <%= label_tag :remember_me %>
    </div>

    <div class='form-actions'>
      <%= submit_tag 'Log In', class: 'btn btn-block' %>
    </div>
  <% end %>
</div>

