<%= form.input :username %>
<%= form.input :email %>
<%= form.input :password %>
<%= form.input :password_confirmation %>

<% if current_user.admin? %>
  <%= form.input :active, collection: ['Active', 'Deactive'], selected: ( @model_object.new_record? ? 'Active' : display_active_column(@model_object) ), include_blank: false %>
<% end %>

<%= form.input :avatar, as: :file %>
<%#= file_field_tag 'images[]', type: :file, multiple: true, accept: 'image/jpeg, image/gif, image/png', class: 'span9' %>
<% unless @model_object.new_record? %>
  <%= render 'form_image', model_object: @model_object %>
<% end %>

<div class='row-form'>
  <%= form.button :submit %>
</div>


