<%= form.input :username %>
<%= form.input :email %>
<%= form.input :password %>
<%= form.input :password_confirmation %>
<%= form.input :active, collection: ['Active', 'Deactive'], selected: selected_option_active(@model_object), include_blank: false %>

<%= form.input :avatar, as: :file %>
<% unless @model_object.new_record? %>
  <%= render 'form_image', model_object: @model_object %>
<% end %>

<div class='row-form'>
  <%= form.button :submit %>
</div>


